.chart{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_content{
    width: clamp(100px, 75vw, 800px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_content > img {
    height: 50px;
    width: 50px;
}

.header_line {
    border: solid white 0.3px;
    width: clamp(100px, 75vw, 800px);
    margin-top: 25px;
}

