.bookchart{
    width: clamp(200px, 20vw, 500px);
    background-color: rgb(8, 32, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border-radius: 8px;
    border-bottom: 1px solid white;
}

.bookchart_headline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}   

.bookchart_img{
    margin-top: 8px;
    width:  clamp(8px, 10vw, 84px);
    height: clamp(8px, 10vw, 84px);
}

.bookchart_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
}

.bookchart_price_likes{
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
}

.bookchart_price{
    flex: 1;
   margin: 0;
   color: rgb(192, 0, 0);
}

.bookchart_likes{
    flex: 1;
    display: flex;
    align-items: center;

}

.bookchart_button{
    width:  clamp(16px, 10vw, 24px);
    height: clamp(16px, 10vw, 24px);
}

.bookchart_button:hover{
    cursor: pointer;
}

.bookchart_table {
    margin: 0;
    overflow: auto;
}

.flex_1{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex_2{
    flex: 1;
    white-space: nowrap;
}

.flex_3{
    flex: 1;
}

.bookchart_comments{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin-top: 8px;
    border-top: 1px solid white;
}

.bookchart_comments h3 {
    margin: 8px 0 0 0;
}