  .bookchart_table::-webkit-scrollbar {
    width: 4px;
  }
  
  .bookchart_table::-webkit-scrollbar-track {
    background: rgb(8, 32, 41);
    box-shadow: inset 0 0 4px grey; 
    border-radius: 33px;
  }
  
  .bookchart_table::-webkit-scrollbar-thumb {
    background: rgb(5, 23, 30);
    border-radius: 33px;
    
  }